{% extends 'layouts/base.html.twig' %}

{% block title "Mon compte | TPLV"  %}
{% block body %}
<div class="page-container">
        <div class="mx-auto text-center content-wrap">
                <h1 class="mt-5 mb-3">Bonjour <span class="line"></span>{{ app.user.lastName | upper }} {{ app.user.firstName }},</h1>           

                <p class="text-muted">Ici vous pouvez effectuer toutes les actions importantes pour votre compte</p>

                <div class="btn-group d-flex" role="group">
                        <a  class="w-100 h4 text-decoration-none btn btn-outline-primary btn-lg" href="{{ path('app_account_edit' , {token: csrf_token('account_edit')})}}">Modifier mon compte</a> 
                        <a class="w-100 h4 text-decoration-none btn btn-outline-primary btn-lg" href="{{ path('app_account_NewPassword', {token: csrf_token('account_NewPassword')} )}}">Changer mon mot de passe</a>
                </div>

        </div>

        <div class="center btnFooter">
                <a class="h4 btnFooter text-decoration-none btn btn-outline-danger btn-lg" data-toggle="modal" data-target="#deleteModal">Supprimer son compte</a>
        </div>

        <form method="post" id="js-deleteUser-form" action="{{ path('app_account_delete')}}">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_token" value="{{ csrf_token('delete') }}">
        </form>
</div>
{# 
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script> #}

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="bg-danger">
          <button type="button" class="mr-2 close text-white" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        <div class="my-5 icon-box">
          <i class="material-icons">&#xE5CD;</i>
        </div>
      </div>
      <div class="modal-body text-center">
        <h4 class="mb-3 h3 modal-title" id="deleteModalModalLabel">Supprimer mon compte</h4>
        <p class="h6">Êtes-vous sûr de vouloir supprimer votre compte ? <br>
        Cette action est irréversible !</p>
      </div>
      <div class="my-3 border-top text-center">
        <button type="button" class="mt-2 btn btn-primary btn-lg" data-dismiss="modal">Annuler</button>
        <button type="button" class="mt-2 btn btn-outline-danger btn-lg" onclick="document.getElementById('js-deleteUser-form').submit();">Supprimer</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}