<div class="mt-2 border-top border-dark form-group">
    <p class="mt-1 h4 font-weight-bold">Identité</p>
    <div class="form-row">
        <div class="col-md-6">
            {{ form_row(registrationForm.lastName, {'label': 'Nom', 'attr': {'placeholder': 'Dupond'}}) }}
        </div>
        <div class="col-md-6">
            {{ form_row(registrationForm.firstName, {'label': 'Prénom', 'attr': {'placeholder': 'Jean'}}) }}
        </div>
        <div class="col-md-12">
            {{ form_row(registrationForm.securiteSociale, {'attr': {'placeholder': '268106747104878'}}) }}
        </div>
    </div>
</div>

<div class="mt-3 border-top border-dark">
    <p class="mt-1 h4 font-weight-bold">Localité</p>
    <div class="form-row">
        <div class="col-md-6">
            {{ form_row(registrationForm.address, {'label': 'Adresse', 'attr': {'placeholder': '7 rue du cerf'}}) }}
        </div>
        <div class="col-md-6">
            {{ form_row(registrationForm.city, {'label': 'Ville', 'attr': {'placeholder': 'Strasbourg'}}) }}
        </div>
        <div class="col-md-6">
            {{ form_row(registrationForm.postCode, {'label': 'Code Postal', 'attr': {'placeholder': '69750'}}) }}
        </div> 
        <div class="col-md-6">
            {{ form_row(registrationForm.phone, {'label': 'Numéro de télèphone', 'attr': {'placeholder': '0612345678'}}) }}  
        </div>
    </div>
</div>

<div class="mt-3 border-top border-dark">
    <p class="mt-1 h4 font-weight-bold">Connexion</p>
    <div class="form-row">
        {% if registration %}
            <div class="col-md-6">
            {% else %}
                <div class="col-md-12">
        {% endif %}
            {{ form_row(registrationForm.email, {'label': 'Email', 'attr': {'placeholder': 'unepersonne@exemple.fr'}}) }}
        </div>
        {% if registration %}
            <div class="col-md-6">
                {{ form_row(registrationForm.password, {'label': 'Mot de passe'}) }}
            </div>
        {% endif %}
    </div>
</div>

<div class="mt-3 border-top border-dark">
    <p class="mt-1 h4 font-weight-bold">Spécificité</p>
    <div class="form-row">
        <div class="col-md-6">                                	
            {{ form_label(registrationForm.isMedicalStaff, 'Êtes vous un personel de santé ?') }}       
                <div class="d-flex flex-row">        
                    <div class="input-group cursorPointer animation" onclick="checkRadio0('registration_form_isMedicalStaff_0');">
                        <div class="input-group-prepend">
                            <div class="input-group-text labelDisplayNone pl-3 pb-3">
                                {{ form_widget(registrationForm.isMedicalStaff[0]) }}
                            </div>
                        </div>
                            <p class="form-control">Oui<p>
                    </div>
                    <div class="input-group cursorPointer animation" onclick="checkRadio1('registration_form_isMedicalStaff_1');">
                        <div class="input-group-prepend">
                            <div class="input-group-text labelDisplayNone pl-3 pb-3">
                                {{ form_widget(registrationForm.isMedicalStaff[1]) }}
                            </div>
                        </div>
                            <p class="form-control">Non<p>
                    </div>                     
                </div>
        </div>
        <div class="col-md-6">                                	
            {{ form_label(registrationForm.hasComorbidity, 'Avez-vous des comorbidités ?') }}       
                <div class="d-flex flex-row">        
                    <div class="input-group cursorPointer animation" onclick="checkRadio0('registration_form_hasComorbidity_0');">
                        <div class="input-group-prepend">
                            <div class="input-group-text labelDisplayNone pl-3 pb-3">
                                {{ form_widget(registrationForm.hasComorbidity[0]) }}
                            </div>
                        </div>
                            <p class="form-control">Oui<p>
                    </div>
                    <div class="input-group cursorPointer animation" onclick="checkRadio1('registration_form_hasComorbidity_1');">
                        <div class="input-group-prepend">
                            <div class="input-group-text labelDisplayNone pl-3 pb-3">
                                {{ form_widget(registrationForm.hasComorbidity[1]) }}
                            </div>
                        </div>
                            <p class="form-control">Non<p>
                    </div>                     
                </div>
            <a href="https://solidarites-sante.gouv.fr/IMG/pdf/liste_maladies_rares_cosv_fmr-2.pdf" target="_blank" rel="noopener noreferrer" >
                {{ form_help(registrationForm.hasComorbidity) }}
            </a>
        </div>
    </div>
</div>

<div class="mt-4">
    {{ form_row(registrationForm.agreeTerms) }}
</div>


<button type="submit" class="my-5 btn-lg btn btn-outline-primary btn-block">Valider</button>

<script>
        function checkRadio0(id) {
        document.getElementById(id).checked = true;
        }

        function checkRadio1(id) {
        document.getElementById(id).checked = true;
        }
</script>